- if can?("suite", ["update","edit"]) || can?("suites", "reload") || can?("suites", "destroy")
  .btn-group
    %button.btn.btn-default.btn-xs.dropdown-toggle{:type=>:button, :data => { :toggle => :dropdown}}
      Actions
      %span.caret
    %ul.dropdown-menu{:role => :menu}
      %li= link_to "Edit", edit_project_suite_path(suite.project_id, suite) if can? "suites", "edit", suite
      %li= link_to "Reload", reload_project_suite_path(suite.project_id, suite) if can? "suites", "reload", suite
      %li.divider
      %li= link_to "Delete", project_suite_path(suite.project_id, suite), :method => :delete, :data => {:confirm => "Are you sure?"} if can? "suites", "destroy", suite

=link_to "Download", suite.tempest.url, :class => "btn btn-default btn-xs"
=link_to "Compare", project_suite_compares_path(suite.project_id, suite), :class => "btn btn-info btn-xs"
=link_to "Paste2", paste_project_suite_path(suite.project_id, suite), :class => "btn btn-default btn-xs" if can? "suites", "paste", suite
