%ol.breadcrumb
  %li
    = link_to "Reports", suites_path
  - if @case and @suite
    %li
      = link_to @suite.build, suite_path(@suite)
    %li.active= @case.name
  - else @suite
    %li.active= @suite.build
