.content-header
  .row
    .col-lg-1
      = image_tag gravatar_url(@user,64), :class => "gravatar"
    .col-lg-11
      %h3
        = @user.name_was
        = link_to "edit", edit_user_path(@user) unless ["edit","update"].include? params[:action]
=render "application/flash"