.content-header{:style => "font-size: 20px;"}
  %span.glyphicon.glyphicon-folder-close
  =link_to project.name, project_path(project)
  .pull-right
    - if project.features.all.any?
      - project.features.each do |feature|
        %span.label.label-success= feature
=render "application/flash"