.content-header
  %h4 Projects
  .pull-right
    = link_to "New project", new_project_path, :class => "btn btn-info btn-xs pull-right" if can? "projects","create"
.content-border
  .content-inside
    = render "projects", :projects => @projects, :columns => [:name, :suites, :created, :owner]
