.content-header
  %h4 Projects
=render "application/flash"
.content-border
  - if can? "projects","create"
    .content-tools
      .content-tools-right
        = link_to "New project", new_project_path, :class => "btn btn-info btn-xs"
  .content-inside
    = render "projects", :projects => @projects, :columns => [:name, :suites, :created, :owner]
