%ol.breadcrumb
  %li
    = link_to "Suites", suites_path
  %li
    = link_to @suite.build, project_suite_path(@suite.project_id, @suite)
  %li.active
    compare
.well
  .row
    .col-lg-12
      Choose report to compare with
= render "suites/suites", :suites => @compares, :buttons => "choose"
