.content-header
  %h4 Dashboard
=render "application/flash"
%h4 Last 5 suites
.content-border
  .content-inside
    = render "suites/suites", :suites => @suites, :columns => [:suite, :tests, :errors, :failures, :skipped, :passed, :user, :bugs, :tests, :created]
%h4 Last 5 bugs
.content-border
  .content-inside
    = render "bugs/bugs", :bugs => @bugs, :columns => [:created,:suite,:bug,:test]
%h4 Last 5 projects
.content-border
  .content-inside
    = render "projects/projects", :projects => @projects, :columns => [:name, :suites, :created, :members]
