/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require_self
 *= require_tree .
 */

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#wrap > .container {
  padding: 75px 15px 0;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
.container .credit {
  margin: 20px 0;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 15px 15px 5px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Variations */
.bs-callout-error {
  background-color: #d9b0b7;
  border-color: #df514b;
}
.bs-callout-failure {
  background-color: #fcf2f2;
  border-color: #f0ad4e;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-skipped {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
.bs-callout-passed {
  background-color: #d1ebc0;
  border-color: #63df72;
}

a.case-passed {
    color: #5cb85c;
}
a.case-failure {
    color: #f0ad4e;
}
a.case-error {
    color: #d9534f;
}
a.case-skipped {
    color: #5bc0de;
}
