- unless content_for? :flash
  - content_for :flash, true
  - flash.each do |key, value|
    = content_tag :div, :class => "alert alert-#{key}" do
      %button.close{:type=>"button", :data => {:dismiss=>"alert"}}
        &times;
      = value
