
.jumbotron
  %h1.text-center
    502
  %p.text-center
    Site temporarily unavailable right now. Try later.
  %p.text-center
    = link_to "Start page", root_path, :class => "btn btn-lg btn-primary"
